@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif; 
  --color-card: #D9D9D9;
  --color-placeholder: #A4A4A4;
  --color-button: #282828;
  --shadow-card: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}

